body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.hero, .body-rand-inf, .body-quote, .body-announcement {

    padding-inline: 120px;
    padding-block: 5px;
    background-color: #F9FAF8;
    
}

.hero {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;
}

.hero > .hero-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    gap: 3%;
    padding-block: 100px;
}

.hero > .hero-body > .hero-text{
    width: 450px;
    height: 300px;
}

.hero > .hero-body > .hero-text p{
    margin: 0;
}

.hero > .hero-body img {
    display: block;
    width: 550px;
    height: 260px;
}


.hero > .hero-body > .hero-text > .hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero > .hero-body > .hero-text > .hero-sec-text{
    font-size: 18px;
    color: #F9FAF8;
    text-align:left;
}

.hero header{
    display: block;
    font-size: 24px;
    color: #F9FAF8;
}

.hero > header > .nav-options{
    
    border-width: 0px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.hero > header > .nav-options > .links{
    gap: 30px;
    display: flex;
    flex-direction:row;
}

.body-rand-inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.body-rand-inf > .inf-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.body-rand-inf > .img-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.body-rand-inf > .img-list > .img-desc {
    width: 150px;
    height: 250px;
    color: #1F2937;
}

.body-rand-inf > .img-list > .img-desc img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10%;

}

.body-rand-inf > .img-list > .img-desc p {
    text-align: center;
    margin: 0px;
}

.button-hero{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 15%;
    border-color: #3882F6;
    padding-inline: 25px;
    padding-block: 5px; 
    margin-top: 15px;
    font-size: 15px;
}

.button-2{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 15%;
    border-color: #F9FAF8;
    padding-inline: 15px;
    padding-block: 3px;
    font-weight: 800;
    border-width: 3px;
}

.body-quote{
    background-color: #E5E7EB;
    color: #1F2937;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 100px;
}

.body-quote > .quote {
    font-size: 36px;
    font-style: italic;
    width: 800px;
    height: 200px;
    
    
}

.body-quote > .quote-author {
    font-size: 20px;
    width: 700px;
    display:flex;
    flex-direction: row;
    justify-content: end;
    text-align:end;
}

.body-announcement{
    display: flex;
    justify-content: center;
    padding-block: 80px;
}

.body-announcement > .announcement{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-inline: 100px;
    padding-block: 40px;
    border-radius: 5%;
    gap: 100px;
}

.body-announcement > .announcement > .announcement-text > p, h3 {
    margin: 0px;
}

footer{
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}